* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row ul {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: black;
    color: white;
    list-style: none;
}
