* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: black;
    color: white;
    list-style: none;
    gap: 10px;
}

.nav-logo {
    height: 30px;
    width: auto;
    display: inline-block;
}
